﻿@model WarehouseGoodEditViewModel
@{
    ViewData["Title"] = "_Good";
}

<div class="good_row">
    @Html.Hidden("goodIdHidden" + Model.Id, Model.Id)
    @Html.DropDownListFor(x => x.GoodId, Model.GoodsDropDownList, " ", new { id = "goodDropDown" + Model.Id })

    <input type="number" id="goodAmount@(Model.Id)"
           min="1" max="100" value="@(Model.Amount)">
    <a onclick="DeleteGood(@(Model.Id))">Delete</a>
</div>
<br />
<script>
    function DeleteGood(id) {
        $('#goodIdHidden' + id).closest('.good_row').remove();
    }
</script>

