﻿@model WarehouseEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(x => x.Id)

<h4>Name</h4>
@Html.TextBoxFor(x => x.Name)
<h4>Address</h4>
@Html.TextBoxFor(x => x.Address)

<h4>Goods</h4>
<table class="table">
    <tr>
        <th>Name of the good</th>
        <th>Amount</th>
    </tr>
</table>
<div id="goodsContainer">
    @foreach (var good in Model.Goods)
    {
        await Html.RenderPartialAsync("~/Views/Warehouses/_Good.cshtml", good);
    }
</div>
<a onclick="OnAddGoodLinkClick()">
    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="ic-/-plus" fill-rule="nonzero">
                <polygon id="Path" points="19 13 13 13 13 19 11 19 11 13 5 13 5 11 11 11 11 5 13 5 13 11 19 11"></polygon>
            </g>
        </g>
    </svg>
    Add good
</a>
<br />
<button onclick="SaveWarehouse()" class="alert-success">
    Save
</button>
<script>
    function OnAddGoodLinkClick() {
        $.ajax({
            type: 'POST',
            url: "/Warehouses/GetGood",
            success: function (data) {
                console.log(data);
                $("#goodsContainer").append(data);
            }
        });
    }
    function SaveWarehouse() {
        var goods = [];
        $.each($('.good_row'), function (index, goodRow) {

            goods.push({
                "Id": $(goodRow).find("input[id*='goodIdHidden']").val() ? parseInt($(goodRow).find("input[id*='goodIdHidden']").val()) : null,
                "GoodId": parseInt($(goodRow).find("select[id*='goodDropDown']").val()),
                "Amount": parseInt($(goodRow).find("input[id*='goodAmount']").val())
            });
        });

        let model = {
            "Id": $("#Id").val() ? parseInt($("#Id").val()) : null,
            "Name": $("#Name").val(),
            "Address": $("#Address").val(),
            "Goods": goods
        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(model),
            url: "/Warehouses/Save",
            contentType: 'application/json',
            success: function () {
                window.location = "/Warehouses/List"
            }
        });
    }
</script>

