﻿@model WarehouseListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="width:65%;float:left">
        <button onclick="EditWarehouse(null)" class="alert-success">
            Add warehouse
        </button>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var warehouse in Model.Warehouses)
            {
                <tr>
                    <td>@warehouse.Name</td>
                    <td>@warehouse.Address</td>
                    <td><button class="alert-success" onclick="View(@(warehouse.Id))">View</button></td>
                    <td><button class="alert-info" onclick="EditWarehouse(@(warehouse.Id))">Edit</button></td>
                    <td><button class="alert-danger" onclick="Delete(@(warehouse.Id))">Delete</button></td>
                </tr>
            }
        </table>
    </div>
<div id="viewWarehouseDetalis" style="width:34%; margin-left:65%;">

</div>
<script>
    function EditWarehouse(id) {
        window.location = "/Warehouses/Edit?id=" + id;
    }
    function View(id) {
        let model = {
            "Id": id ? parseInt(id) : null
        };
            $("#viewWarehouseDetalis").html('');
        $.ajax({
            type: 'POST',
            data: JSON.stringify(model),
            contentType: 'application/json',
            url: "/Warehouses/Read",
            success: function (data) {
                $("#viewWarehouseDetalis").append(data);
            }
        });
    }
    function Delete(id) {
        $.ajax({
            type: 'GET',
            url: "/Warehouses/Delete?id=" + id,
            success: function () {
                window.location.reload();
            }
        });
    }
    function CurrencyDropDownOnChange() {
        var id = $("#viewedWarehouse").val();
        var currencyId = $("#currenciesDropDown").val();

        if (currencyId) {
            let model = {
            "Id": id ? parseInt(id) : null,
            "CurrencyId": currencyId ? parseInt(currencyId) : null
        };
            $("#viewWarehouseDetalis").html('');
        $.ajax({
            type: 'POST',
            data: JSON.stringify(model),
            contentType: 'application/json',
            url: "/Warehouses/Read",
            success: function (data) {
                $("#viewWarehouseDetalis").append(data);
            }
        });
        }
    }
</script>

