﻿@model WarehouseReadViewModel
@Html.Hidden("viewedWarehouse", Model.Id)
<p>Select currency:</p>
@Html.DropDownListFor(x => x.CurrencyId, Model.Currencies, " ", new { id = "currenciesDropDown" })
<br />
<p>Name: @Model.Name</p>
<br />
<p>Address: @Model.Address</p>
<br />
<p>Goods:</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    @foreach (var good in Model.Goods)
    {
        <tr>
            <td>@good.Name</td>
            <td>@good.Price</td>
            <td>@good.Amount</td>
        </tr>
    }
</table>
@if (Model.GoodsSum.HasValue)
{
    <p>Sum: @Math.Round(Model.GoodsSum.Value, 4)</p>
}
<script>
    $("#currenciesDropDown").on('change', function () {
        CurrencyDropDownOnChange()
    })
</script>
