﻿@model GoodEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(x => x.Id)
<h4>Name</h4>
@Html.TextBoxFor(x => x.Name)
<h4>Price</h4>
@Html.TextBoxFor(x => x.Price)
<h4>Category</h4>
@Html.DropDownListFor(x => x.CategoryId, Model.Categories, " ", new { id = "categoriesDropDown" })
<br />
<h4>Currency</h4>
@Html.DropDownListFor(x => x.CurrencyId, Model.Currencies, " ", new { id = "currenciesDropDown" })
<br />
<button onclick="SaveGood()" class="alert-success">
    Save
</button>

<script>
    function SaveGood() {
        let model = {
            "Id": $("#Id").val() ? parseInt($("#Id").val()) : null,
            "Price": parseFloat($("#Price").val()),
            "Name": $("#Name").val(),
            "CategoryId": parseInt($("#categoriesDropDown").val()),
            "CurrencyId": parseInt($("#currenciesDropDown").val())
        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(model),
            url: "/Goods/Save",
            contentType: 'application/json',
            success: function (data) {
                window.location="/Goods/List"
            }
        });
    }
</script>

