﻿@model GoodListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button onclick="EditGood()" class="alert-success">
    Add good
</button>
@if (Model.Goods.Any())
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Code</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var warehouse in Model.Goods)
        {
            <tr>
                <td>@warehouse.Name</td>
                <td>@warehouse.Category</td>
                <td>@warehouse.Price</td>
                <td>@warehouse.Code</td>
                <td><button class="alert-info" onclick="EditGood(@warehouse.Id)">Edit</button></td>
                <td><button class="alert-danger">Delete</button></td>
            </tr>
        }
    </table>
}

