﻿@model CurrenciesListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Model.AreCurrenciesUpdated)
{
    <button class="alert-info" id="updateCurrencies">Update currencies</button>
    <br />
    <p style="display: none" id="updSuccess">Currencies updated</p>
    <p style="display: none" id="updFail">There is some error</p>
}
<table class="table">
    <tr>
        <td>Name</td>
        <td>Code</td>
        <td>Exchange rate</td>
    </tr>
    @foreach (var currency in Model.Currencies)
    {
        <tr>
            <td>@currency.Name</td>
            <td>@currency.Code</td>
            <td>@string.Format("{0:N4}", currency.ExchangeRate)</td>
        </tr>
    }
</table>

