﻿@model DefaultPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Model.AreCurrenciesUpdated)
{
    <button class="alert-info" id="updateCurrencies">Update currencies</button>
    <br />
    <p style="display: none" id="updSuccess">Currencies updated</p>
    <p style="display: none" id="updFail">There is some error</p>
}